repos:
  # Black
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        language_version: python3

  # isort
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        language_version: python3

  # Pylint (run using Poetry environment)
  - repo: local
    hooks:
      - id: pylint
        name: Run pylint
        entry: poetry run pylint
        language: system
        types: [python]
